<div class="container">

  <h1>Smart Assistant</h1>

  <div class="form-group">
    <label>Enter address</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
      placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
  <div class="form-group">
    <label>Enter the Rule</label>
    <input type="text" class="form-control" [(ngModel)]="ruleText" placeholder="Enter the Rule" autocorrect="off"
      autocapitalize="off" spellcheck="off" type="text">
  </div>
  <div class="form-group">

    <button type="button" class="form-control" [disabled]="!ruleText || !latitude || !longitude"
      (click)="setDangerLocation(latitude,longitude,ruleText)">Submit</button>

  </div>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>

  <h5>Address: {{address}}</h5>
  <div style="background-color:lightblue">
    <p style="font-size:20px;">Latitude: {{latitude}}</p>
  </div>
  <div style="background-color:lightblue">
    <p style="font-size:20px;">Longitude: {{longitude}}</p>
  </div>
</div>

<!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map> -->